APP_URL=http://localhost:5173

# ENV
NODE_ENV=development

# Auth
AUTH_JWT_SECRET=your_jwt_secret_here
AUTH_VERIFICATION_JWT_SECRET=your_verification_jwt_secret_here
AUTH_VERIFICATION_TOKEN_TTL=3600
AUTH_ACCESS_TOKEN_TTL=3600
AUTH_REFRESH_TOKEN_TTL=7

#DB
DB_HOST=localhost
DB_USER=root
DB_PASS=your_db_password
DB_NAME="day-55"
DB_PORT=3306

DB_BACKUP_LOCAL_DIR="./src/storage/DBBackup"
DB_BACKUP_REMOTE=remote
DB_BACKUP_REMOTE_DIR=dbbackup

# Send email
MAIL_FROM_NAME="Your App Name"
MAIL_APP_USER="your_email@gmail.com"
MAIL_APP_PASSWORD="your_app_password"

# Webscoket
SOKETI_APP_ID='app-chat-1'
SOKETI_APP_KEY='abc123'
SOKETI_APP_SECRET='app-secret'

# Socket Config
PORT=3000
SOKETI_HOST=127.0.0.1
SOKETI_PORT=6001
SOKETI_CLUSTER=
SOKETI_USE_TLS=false
